<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="jumbotron text-center">
        <h1>Waterevent Application</h1>
        <p>Detail view</p>
    </div>
    <div class="row">

        <!--Detail view-->
        <div class="container-fluid">
            <div class="page-header text-center">
                <h2> <b>Type:</b>  &nbsp; {{ events.type }}</h2>
                <h2> <b>Description:</b>  &nbsp;{{events.description}}<small></small></h2>
                <h2> <b>Date:</b> &nbsp;{{events.date}}<small></small></h2>

            </div>

            <!--- update -->
            <a href="{% url 'waterevent:detail-update' events.eventId %}"> Update Event</a>

            <!--- delete -->

            <form method = "POST" action = "{% url 'waterevent:detail-delete' events.eventId %}">
                {% csrf_token %}
                <input type="submit" value="Delete Event">
            </form>

            <h3> <a href="{% url 'waterevent:index' %}" type = "submit"> Home page</a></h3>
        </div>

    </div>

</body>
</html>