<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

      <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
   <div class="jumbotron text-center">
        <h1> Stormwater Checking System</h1>
        <p> Please choose the following action</p>
   </div>
   <a href="{% url 'waterevent:view-eventlist' %}" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"> Check Event </a>
   <a href="{% url 'waterevent:view-reportlist' %}" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true"> Check Report </a>


   </div>
</body>
</html>