<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WaterEvent</title>
</head>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
    <div class="jumbotron text-center">
        <h1> Record the report </h1>
    </div>

    <div class="container-fluid">
        <form action="" method="POST" role ="form" align="center">
            {% csrf_token %}
                 {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                </div>
                {% endfor %}

            <p><button type="submit">submit </button></p>
        </form>
     </div>
</body>
</html>