<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

      <!-- Bootstrap -->
 <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
   <div class="jumbotron text-center">
        <h1> Sensor Application</h1>
        <p> List of Sensor</p>
   </div>

   <div class="container-fluid text-center">
        <div class="list-group">
        {% for x in sensors %}
            <a href="{% url 'waterevent:sensor' x.sensorId %}" class="list-group-item list-group-item-success col-sm-8"> {{x.volume}} {{x.phLevel}} {{x.contaminantLevel}} {{x.phLevel}}{{x.date}}{{x.observId}}</a>
            <!--- update -->
            <a href="{% url 'waterevent:sensor-update' x.sensorId %}" class="btn btn-primary" role="button" aria-pressed="true"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Update Sensor</a>
            <div class="col-xs-12"><hr></div>
            <p></p>
        {% endfor %}
        </div>
       <!-- button for adding event -->
        <a href="{% url 'waterevent:add-sensor' %}" class="btn btn-success" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            add sensor</a>
       <a href="{% url 'waterevent:index' %}" class="btn btn-success" role="button" aria-pressed="true">Home Page </a>

   </div>

</body>
</html>